.accountFlow i{
    font-style: normal;
    color: #000;
    padding-left: 20px;
}
.accountFlow .myAccount-table{
    margin-left: 20px;
}
.accountFlow .myAccount-table td{
    padding-right: 90px;
}
.accountFlow .myAccount-table-data{
    color: #B51D1A;
}
.accountFlow .myAccount-table-text{
    color: #AEAEAE;
}
.accountFlow #oddNumber,.accountFlow #customer{
    width: 70%;
}